# Supabase Configuration
VITE_SUPABASE_URL=https://slgiyluxqakxgeyisero.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsZ2l5bHV4cWFreGdleWlzZXJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4MjA5NzUsImV4cCI6MjA5NjM5Njk3NX0.L6NJ_rDblsXTrUTk_EMQgAYoaFDa2oKkY1J5BLmSOs8

NEXT_PUBLIC_SUPABASE_URL=https://slgiyluxqakxgeyisero.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsZ2l5bHV4cWFreGdleWlzZXJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4MjA5NzUsImV4cCI6MjA5NjM5Njk3NX0.L6NJ_rDblsXTrUTk_EMQgAYoaFDa2oKkY1J5BLmSOs8

# Gemini API Configuration
GEMINI_API_KEY=AIzaSyA3zCZQk264kgxR4pNlBgqgx2DmgGfnG6E

# Optional: Administrative Credentials Fallback (Defaults: admin@example.com / admin123456)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123456
